<!DOCTYPE html>
<html>
<head>
    <title>{{@site.title}}</title>
    <link rel="stylesheet" type="text/css"
        href="{{asset "assets/screen.css"}}" />
    {{ghost_head}} <!--Añade metadatos y SEO-->
</head>
<body class="{{body_class}}">
    {{{body}}} <!--Contenidos dentro de la plantilla-->
    {{ghost_foot}} <!--Añade otros scripts importantes-->
</body>
</html>