{{!< default}}
<div class="container">
    {{#post}}
        <article class="{{post_class}} single"></article>
            {{#if feature_image}}
                <div class="post-media">
                    <img class="post-image" srcset="{{> srcset}}"
                        sizes="(min-width: 1170px) 1140px, (min-width: 780px) 750px, calc(100vw - 30px)"
                        src="{{img_url feature_image size="m"}}"
                        alt="{{title}}">
                </div>
            {{/if}}
        
            <header class="post-header">
                <section class="post-meta">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
                    {{date format="DD MMMM YYYY"}}
                </time>
                {{tags prefix=" - "}}
                </section>
                <h1 class="post-title">{{title}}</h1>
            </header>
            <section class="post-content">
                {{content}}
            </section>
        </article>

    {{/post}}
</div>
